<div class="jumbotron">
  <%= form_with(model: pump, local: true) do |form| %>
    <% if pump.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(pump.errors.count, "error") %> prohibited this pump from being saved:</h2>

        <ul>
        <% pump.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :nombre %>
      <%= form.text_field :nombre, id: :pump_nombre %>
    </div>

    <div class="field">
      <%= form.label :rpm %>
      <%= form.text_field :rpm, id: :pump_rpm %>
    </div>

    <div class="field">
      <%= form.label :rodete_max %>
      <%= form.text_field :rodete_max, id: :pump_rodete_max %>
    </div>

    <div class="field">
      <%= form.label :rodete_min %>
      <%= form.text_field :rodete_min, id: :pump_rodete_min %>
    </div>

    <div class="actions">
      <%= form.submit "Crear bomba" %>
    </div>
  <% end %>
</div>
