<h1> Resultados búsqueda </h1>


<% if @pumps_final.length > 0 %>
	<% lista_eficiencias = [] %>
	<% lista_resultados = [] %>
	<% lista_ordenada = [] %>
	
	<% @pumps_final.each do |pump| %>
			<% diametro_final, curva_a_usar, diametro_a_usar = Pump.diametro_final(pump, @caudal, @altura) %>			

			<% eficiencia = Pump.calcular_eficiencia(@caudal, 
			pump.efficiency_info, pump.efficiency_info_diams, diametro_final) %>

			<% if eficiencia > 0.3 %>
				<% lista_eficiencias.push(eficiencia) %>
				<% lista_resultados.push([pump.bomba + "/" + pump.rpm.to_s, eficiencia, diametro_final, curva_a_usar, diametro_a_usar, pump.id]) %>
			<% end %>
	<% end %>

	<% while lista_eficiencias.length > 0 %>
		<% indice = lista_eficiencias.index(lista_eficiencias.max) %>
		<% lista_ordenada.push(lista_resultados[indice]) %>
		<% lista_eficiencias.delete(lista_eficiencias[indice]) %>
		<% lista_resultados.delete(lista_resultados[indice]) %>
	<% end %>

	<% lista_ordenada.each do |bomba| %>
		<div class="center jumbotron">
			<h2><%= bomba[0] %></h2>
			<p>Recorte rodete: <strong><%= bomba[2].round(2) %></strong></p>
			<p>Eficiencia aproximada: <strong><%= (bomba[1]*100).round(2) %>%</strong></p>
			<%= link_to "Ver detalle", pump_detalle_path(pump_id: bomba[5], caudal: @caudal, altura: @altura, eficiencia: bomba[1], diametro_final: bomba[2], curva_a_usar: bomba[3], diametro_a_usar: bomba[4], lista_marcas: @lista_marcas), class: "btn btn-lg", id:"link" %>
		</div>
	<% end %>






<%else%>
	<p> No hay bombas que satisfagan lo solicitado </p>
<% end %>


<%= link_to "Volver", root_url, class: "btn btn-lg", id:"link" %>