<h1> Resultados búsqueda </h1>
<% if @lista_marcas.length == 0 %>
	<h2> No seleccionaste ninguna marca de motores! No podrás ver los detalles de cada bomba</h2>
<% end %>

<% if @pumps_final.length > 0 %>
	
	<% @pumps_final.each do |pump| %>
		<div class="center jumbotron">

			<% diametro_final, curva_a_usar, diametro_a_usar = Pump.diametro_final(pump, @caudal, @altura) %>

			<p><strong><%= pump.bomba %>/<%= pump.rpm %></strong></p>
			<p>Recorte rodete por semejanza hidráulica: <strong><%= diametro_final.round(2) %></strong></p>
			

			<% eficiencia = Pump.calcular_eficiencia(@caudal, 
			pump.efficiency_info, pump.efficiency_info_diams, diametro_final) %>

			<p>Eficiencia aproximada: <strong><%= (eficiencia.*100).round(2) %>%</strong></p>			
			
			<% if @lista_marcas.length > 0 %>
				<%= link_to "Ver detalle", pump_detalle_path(pump_id: pump.id, caudal: @caudal,
				altura: @altura, eficiencia: eficiencia, diametro_final: diametro_final, curva_a_usar: curva_a_usar, diametro_a_usar: diametro_a_usar, lista_marcas: @lista_marcas), class: "btn btn-lg", id:"link" %>
				
			
			<% end %>

		</div>
	<% end %>






<%else%>
	<p> No hay bombas que satisfagan lo solicitado </p>
<% end %>


<%= link_to "Volver", root_url, class: "btn btn-lg", id:"link" %>