<h1> Informacion guardada para esta bomba: </h1>

<div class="center jumbotron">
	<div>
		<%= @pump.curva_rodete_max %>
	</div>

	<div>
		<%= @pump.curva_rodete_min %>
	</div>

	<div>
		<%= @pump.x_maximos %>
	</div>

	<div>
		<%= @pump.efficiency_info %>
	</div>

	<div>
		<%= @pump.efficiency_info_diams %>
	</div>

	<div>
		<p> Indice: <%= @indice %> </p>
	</div>

	<div>
		<p> Diametros <%= @d1 %> </p>
	</div>

	<div>
		<p> Diametros <%= @pump.rodete_min %> </p>
	</div>
</div>