<h1> Información guardada para esta bomba: </h1>

<% datos = [] %>
<% @tests_definitivos.each do |lista| %>
	<% if lista[0] != @pump.rodete_max and lista[0] != @pump.rodete_min %>
		<% datos.push([Test.pasar_a_numero(lista[3]), lista[0]]) %>
	<% end %>
<% end %>

<%= link_to "Volver", pump_path(@pump), class: "btn btn-lg", id: "link" %>

<div class="center jumbotron">
	<div id="container" style="width: 1000px; height: 500px; margin: 0 auto"></div>
</div>


<script type="text/javascript">

 var new_series = []
 var data_max = <%= raw @nueva_curva_rodete_max %>
 var data_min = <%= raw @nueva_curva_rodete_min %>
 var new_data = <%= raw datos %>
 var colores = ['#058DC7', '#50B432', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4', '#ED561B', '#058DC7', '#50B432', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4', '#ED561B']

 for (lista in new_data){
  var dicc = {
    regression: true,
    regressionSettings: {
      type: 'polynomial',
      color: colores[lista],
      dashStyle: 'solid',
      hideinlegend: false
    },
    name: 'Rodete ' + new_data[lista][1],
    color: colores[lista],
    data: new_data[lista][0]

  }
  new_series.push(dicc)
 }

 //document.write(data_min)

 var dicc1 = {
    regression: true,
    regressionSettings: {
      type: 'polynomial',
      color: '#FF0000',
      dashStyle: 'solid',
      hideinlegend: false
    },
    name: 'Rodete minimo (' + <%= @pump.rodete_min %> + ')',
    color: '#FF0000',
    data: data_min

  }

  var dicc2 = {
    regression: true,
    regressionSettings: {
      type: 'polynomial',
      color: '#FF0000',
      dashStyle: 'solid',
      hideinlegend: false
    },
    name: 'Rodete maximo (' + <%= @pump.rodete_max %> + ')',
    color: '#FF0000',
    data: data_max

  }
  new_series.push(dicc1)
  new_series.push(dicc2)

 Highcharts.chart('container', {
    chart: {
      type: 'scatter',
      zoomType: 'xy'
    },
    title: {
      text: 'Curvas hidráulicas'
    },
    subtitle: {
      text: ''
    },
    xAxis: {
      min: 0,
      title: {
        enabled: true,
        text: 'Caudal (l/s)'
      },
      startOnTick: true,
      endOnTick: true,
      showLastLabel: true
    },
    yAxis: {
      min: 0,
      title: {
        text: 'Altura (m)'
      }
    },
    legend: {
      layout: 'vertical',
      align: 'left',
      verticalAlign: 'top',
      x: 100,
      y: 70,
      floating: false,
      backgroundColor: '#FFFFFF',
      borderWidth: 1
    },
    plotOptions: {
      scatter: {
        marker: {
          radius: 5,
          states: {
            hover: {
              enabled: true,
              lineColor: 'rgb(100,100,100)'
            }
          }
        },
        states: {
          hover: {
            marker: {
              enabled: false
            }
          }
        },
        tooltip: {
          headerFormat: '<b>{series.name}</b><br>',
          pointFormat: '{point.x} l/s, {point.y} m'
        }
      }
    },
    series: new_series
  });

  </script>