<div>
	<%= @pump.curva_rodete_max %>
</div>

<div>
	<%= @pump.curva_rodete_min %>
</div>

<div>
	<%= @pump.x_maximos %>
</div>

<div>
	<%= @pump.efficiency_info %>
</div>

<div>
	<%= @pump.efficiency_info_diams %>
</div>