<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="//rawgithub.com/phpepe/highcharts-regression/master/highcharts-regression.js?8"></script>

<h1> Detalles búsqueda </h1> 

<h2> <%= @pump.bomba %>/<%= @pump.rpm %> </h2>

<div class="center jumbotron">
  <h3> Solicitud </h3>
  <p> Caudal: <%= @caudal %>, Altura: <%= @altura %> </p>
</div>


<div class="center jumbotron">
  <p> Eficiencia: <%= (@eficiencia*100).round(2) %>% </p>
  <p> Diametro por semejanza hidraulica: <%= @diametro_final.round(2) %> </p>
</div>

<div class="center jumbotron">
<h2> Motores elegidos según la marca </h2>  
  <% if @lista_marcas.include?("WEG") %>
    <% if @motor_weg != -1 %>
      <p> WEG: <%= @motor_weg %> Kw, <%= @hp_weg %> Hp</p>
    <% else %>
      <p> WEG: No hay motores que cumplan las condiciones</p>
    <% end %>
  <% end %>

  <% if @lista_marcas.include?("Wellford") %>
    <% if @motor_wellford != -1 %>
      <p> Wellford: <%= @motor_wellford %> Kw, <%= @hp_wellford %> Hp</p>
    <% else %>
      <p> Wellford: No hay motores que cumplan las condiciones</p>
    <% end %>
  <% end %>

  <% if @lista_marcas.include?("CG") %>
    <% if @motor_cg != -1 %>
      <p> CG: <%= @motor_cg %> Kw, <%= @hp_cg %> Hp </p>
    <% else %>
      <p> CG: No hay motores que cumplan las condiciones</p>
    <%end%>
  <% end %>

  <% if @lista_marcas.include?("Siemens") %>
    <% if @motor_siemens != -1 %>
      <p> Siemens: <%= @motor_siemens %> Kw, <%= @hp_siemens %> Hp</p>
    <%else%>
      <p> Siemens: No hay motores que cumplan las condiciones </p>
    <% end %>
  <% end %>
</div>

<div>
  <%= link_to "Volver a la búsqueda", buscar_path(caudal: @caudal, altura: @altura, weg: @weg, wellford: @wellford, cg: @cg, siemens: @siemens, dos_polos: @dos_polos, cuatro_polos: @cuatro_polos), class: "btn btn-lg btn-primary", id:"link-b" %>
</div>

<div class="center jumbotron">
  <div id="container" style="width: 1000px; height: 500px; margin: 0 auto"></div>
</div>

<div class="center jumbotron">
  <p> Eficiencia: <%= (@eficiencia*100).round(2) %>% </p>
  <div id="container2" style="width: 1000px; height: 500px; margin: 0 auto"></div>
</div>

<div class="center jumbotron">
  <p>Potencia: <%= @potencia_requerida[0][1].round(2) %> Kw</p>
  <div id="container3" style="width: 1000px; height: 500px; margin: 0 auto"></div>
</div>

<div class="center jumbotron">
  <p> Potencia consumo: <%= @potencia_consumo.round(2) %> Kw / <%= (@potencia_consumo*1.341).round(2) %> Hp</p>
  <p> Potencia máxima: <%= @potencia_maxima.round(2) %> Kw / <%= (@potencia_maxima*1.341).round(2) %> Hp</p>
</div>

<div class="center jumbotron">
<h2> Motores elegidos según la marca </h2>  
  <% if @lista_marcas.include?("WEG") %>
    <% if @motor_weg != -1 %>
      <p> WEG: <%= @motor_weg %> Kw, <%= @hp_weg %> Hp</p>
    <% else %>
      <p> WEG: No hay motores que cumplan las condiciones</p>
    <% end %>
  <% end %>

  <% if @lista_marcas.include?("Wellford") %>
    <% if @motor_wellford != -1 %>
      <p> Wellford: <%= @motor_wellford %> Kw, <%= @hp_wellford %> Hp</p>
    <% else %>
      <p> Wellford: No hay motores que cumplan las condiciones</p>
    <% end %>
  <% end %>

  <% if @lista_marcas.include?("CG") %>
    <% if @motor_cg != -1 %>
      <p> CG: <%= @motor_cg %> Kw, <%= @hp_cg %> Hp </p>
    <% else %>
      <p> CG: No hay motores que cumplan las condiciones</p>
    <%end%>
  <% end %>

  <% if @lista_marcas.include?("Siemens") %>
    <% if @motor_siemens != -1 %>
      <p> Siemens: <%= @motor_siemens %> Kw, <%= @hp_siemens %> Hp</p>
    <%else%>
      <p> Siemens: No hay motores que cumplan las condiciones </p>
    <% end %>
  <% end %>
</div>



<div>
  <%= link_to "Descargar Excel", pump_detalle_path(pump_id: @pump.id, caudal: @caudal, altura: @altura, eficiencia: @eficiencia, diametro_final: @diametro_final, curva_a_usar: @curva_a_usar, diametro_a_usar: @diametro_a_usar, lista_marcas: @lista_marcas, lista_polos: @lista_polos, format: "xls"), class: "btn btn-lg", id:"link" %>
</div>

<% datos = [[@caudal, @altura]] %>
<% datos_e = [[@caudal, @eficiencia*100]] %>

<script type="text/javascript">

 var new_series = []
 var new_data = <%= raw @curvas_definitivas %>

 for (lista in new_data){
  var dicc = {
    regression: true,
    regressionSettings: {
      type: 'polynomial',
      //color: 'rgba(223, 183, 83, .9)',
      dashStyle: 'solid',
      hideinlegend: false
    },
    name: 'Rodete ' + new_data[lista][1],
    //color: 'rgba(223, 83, 83, .5)',
    data: new_data[lista][0]
  }
  new_series.push(dicc)
 }
 
 var dicc2 = {
  regression: true,
 	name: 'Punto solicitado',
 	data: <%= raw datos %>
 }
 new_series.push(dicc2)

 Highcharts.chart('container', {
    chart: {
      type: 'scatter',
      zoomType: 'xy'
    },
    title: {
      text: 'Curvas hidráulicas'
    },
    subtitle: {
      text: ''
    },
    xAxis: {
      min: 0,
      title: {
        enabled: true,
        text: 'Caudal (l/s)'
      },
      startOnTick: true,
      endOnTick: true,
      showLastLabel: true
    },
    yAxis: {
      min: 0,
      title: {
        text: 'Altura (m)'
      }
    },
    legend: {
      layout: 'vertical',
      align: 'left',
      verticalAlign: 'top',
      x: 100,
      y: 70,
      floating: false,
      backgroundColor: '#FFFFFF',
      borderWidth: 1
    },
    plotOptions: {
      scatter: {
        marker: {
          radius: 5,
          states: {
            hover: {
              enabled: true,
              lineColor: 'rgb(100,100,100)'
            }
          }
        },
        states: {
          hover: {
            marker: {
              enabled: false
            }
          }
        },
        tooltip: {
          headerFormat: '<b>{series.name}</b><br>',
          pointFormat: '{point.x} l/s, {point.y} m'
        }
      }
    },
    series: new_series
  });

 var new_series_e = []
 var new_data_e = <%= raw @curvas_eficiencias %>

 for (lista in new_data_e){
  var dicc = {
    regression: true,
    regressionSettings: {
      type: 'polynomial',
      order: 4,
      //color: 'rgba(223, 183, 83, .9)',
      dashStyle: 'solid',
      hideinlegend: false
    },
    name: 'Rodete ' + new_data_e[lista][1],
    //color: 'rgba(223, 83, 83, .5)',
    data: new_data_e[lista][0]
  }
  new_series_e.push(dicc)
 }
 
 var dicc2 = {
  regression: true,
  name: 'Punto solicitado',
  data: <%= raw datos_e %>
 }
 new_series_e.push(dicc2)

 Highcharts.chart('container2', {
    chart: {
      type: 'scatter',
      zoomType: 'xy'
    },
    title: {
      text: 'Curvas eficiencia'
    },
    subtitle: {
      text: ''
    },
    xAxis: {
      min: 0,
      title: {
        enabled: true,
        text: 'Caudal (l/s)'
      },
      startOnTick: true,
      endOnTick: true,
      showLastLabel: true
    },
    yAxis: {
      min: 0,
      title: {
        text: 'Eficiencia (%)'
      }
    },
    legend: {
      layout: 'vertical',
      align: 'left',
      verticalAlign: 'top',
      x: 100,
      y: 70,
      floating: false,
      backgroundColor: '#FFFFFF',
      borderWidth: 1
    },
    plotOptions: {
      scatter: {
        marker: {
          radius: 5,
          states: {
            hover: {
              enabled: true,
              lineColor: 'rgb(100,100,100)'
            }
          }
        },
        states: {
          hover: {
            marker: {
              enabled: false
            }
          }
        },
        tooltip: {
          headerFormat: '<b>{series.name}</b><br>',
          pointFormat: '{point.x} l/s, {point.y} %'
        }
      }
    },
    series: new_series_e
  });

 var new_series_p = []

 var dicc1_p = {
  regression: true,
  regressionSettings: {
    type: 'polynomial',
    order: 3,
    //color: 'rgba(223, 183, 83, .9)',
    dashStyle: 'solid',
    hideinlegend: false
  },
  name: 'Nuevo rodete ' + <%= @diametro_final.round(2).to_s %>,
  //color: 'rgba(223, 83, 83, .5)',
  data: <%= raw @curva_potencia %>
 }

 dicc2_p = {
  regression: true, 
  name: "Punto solicitado",
  data: <%= @potencia_requerida %>
 }

 new_series_p.push(dicc1_p)
 new_series_p.push(dicc2_p)

 Highcharts.chart('container3', {
    chart: {
      type: 'scatter',
      zoomType: 'xy'
    },
    title: {
      text: 'Curva potencia'
    },
    subtitle: {
      text: ''
    },
    xAxis: {
      min: 0,
      title: {
        enabled: true,
        text: 'Caudal (l/s)'
      },
      startOnTick: true,
      endOnTick: true,
      showLastLabel: true
    },
    yAxis: {
      min: 0,
      title: {
        text: 'Potencia (Kw)'
      }
    },
    legend: {
      layout: 'vertical',
      align: 'left',
      verticalAlign: 'top',
      x: 100,
      y: 70,
      floating: false,
      backgroundColor: '#FFFFFF',
      borderWidth: 1
    },
    plotOptions: {
      scatter: {
        marker: {
          radius: 5,
          states: {
            hover: {
              enabled: true,
              lineColor: 'rgb(100,100,100)'
            }
          }
        },
        states: {
          hover: {
            marker: {
              enabled: false
            }
          }
        },
        tooltip: {
          headerFormat: '<b>{series.name}</b><br>',
          pointFormat: '{point.x} l/s, {point.y} Kw'
        }
      }
    },
    series: new_series_p
  });


</script>

