<p id="notice"><%= notice %></p>

<div class="center jumbotron">
  <h1>Catalogo Bombas</h1>
  <nav>
    <ul>
      <% Pump.all.each do |pump| %>
      <p>
        <%= pump.bomba %>
        <%= link_to 'Ver', pump, class: "btn btn-lg", id:"link" %>
        <%= link_to 'Editar', edit_pump_path(pump), class: "btn btn-lg", id:"link" %>
        <%= link_to 'Ingresar nueva prueba de bombeo', new_pump_test_path(pump), class: "btn btn-lg", id:"link" %>
        <%= link_to 'Eliminar', pump, method: :delete, data: { confirm: '¿Está seguro?' }, class: "btn btn-lg", id:"link" %>
      </p>
      <% end %>
    </ul>
  </nav>

  <p><%= link_to 'Nueva Bomba', new_pump_path, class: "btn btn-lg btn-primary", id:"link-b" %></p>
</div>

<div class="jumbotron">
  <h1>Importar Bomba</h1>
  <%= form_tag import_pumps_path, multipart: true do %>
    <%= file_field_tag :file, class: "btn" %>
    <%= submit_tag "Importar", class: "btn btn-lg btn-primary", id:"link-b" %>
  <% end %>
</div>

<div class="center jumbotron">
  <h1>Buscar bomba</h1>

  <%= form_tag buscar_pumps_path do %>
    <div class="field">
      <p> Caudal: <%= text_field_tag :caudal %></p>
    </div>

    <div class="field">
      <p> Altura: <%= text_field_tag :altura %></p>
    </div>

    <%= submit_tag "Buscar", class: 'btn btn-lg btn-primary', id:"link-b" %>
  <% end %>
</div>