<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="//rawgithub.com/phpepe/highcharts-regression/master/highcharts-regression.js?8"></script>

<p id="notice"><%= notice %></p>


<h1> Detalles bomba y pruebas de bombeo</h1>
<p>
  <strong>Nombre:</strong>
  <%= @pump.nombre %>
</p>

<p>
  <strong>Rpm:</strong>
  <%= @pump.rpm %>
</p>

<p>
  <strong>Rodete max:</strong>
  <%= @pump.rodete_max %>
</p>

<p>
  <strong>Rodete min:</strong>
  <%= @pump.rodete_min %>
</p>

<% if @pump.valid_tests.length > 0 %>
  <div id="container" style="width: 1000px; height: 500px; margin: 0 auto"></div>
<% end %>


<div>
  <%= link_to 'Editar detalles bomba', edit_pump_path(@pump) %> |
  <strong><%= link_to 'Volver', pumps_path %></strong>
</div>

<div>
  <%= link_to 'Ingresar nueva prueba de bombeo', new_pump_test_path(@pump) %>


<% datos = [] %>

<h2> Pruebas de Bombeo ingresadas </h2>

<% if @pump.tests.count > 0 %>
	<% @pump.tests.each do |test| %>
  
    <div>
      <strong><p> Prueba de bombeo numero: <%=test.id%> , diametro del rodete: <%= test.diametro_rodete %></p></strong>
    </div>
  
    <% if @pump.valid_tests.include?(test.id.to_s) %>
      <% datos.push([Test.pasar_a_numero(test.current_h), test.diametro_rodete]) %>
      <%= link_to 'Sacar de las pruebas validas', pump_test_sacar_valida_path(pump_id: @pump.id, test_id: test.id) %>

    <% else %>
      <%= link_to 'Ingresar como prueba valida', pump_test_entrar_valida_path(pump_id: @pump.id, test_id: test.id) %>
    <% end %>
	<% end %>
<% else %>
	<p>No hay pruebas para esta bomba</p>
<% end %>

<h2> Para dejar esta configuracion como definitiva: </h2>

<%= link_to "Configuracion definitiva", pump_definitiva_path(pump_id: @pump.id) %>




<script type="text/javascript">

 var new_series = []
 var new_data = <%= raw datos %>

 for (lista in new_data){
  var dicc = {
    regression: true,
    regressionSettings: {
      type: 'polynomial',
      //color: 'rgba(223, 183, 83, .9)',
      dashStyle: 'solid',
      hideinlegend: false
    },
    name: 'Rodete ' + new_data[lista][1],
    //color: 'rgba(223, 83, 83, .5)',
    data: new_data[lista][0]

  }
  new_series.push(dicc)
 }

 Highcharts.chart('container', {
    chart: {
      type: 'scatter',
      zoomType: 'xy'
    },
    title: {
      text: 'Curvas hidraulicas'
    },
    subtitle: {
      text: ''
    },
    xAxis: {
      title: {
        enabled: true,
        text: 'Caudal (m3)'
      },
      startOnTick: true,
      endOnTick: true,
      showLastLabel: true
    },
    yAxis: {
      title: {
        text: 'Altura (m)'
      }
    },
    legend: {
      layout: 'vertical',
      align: 'left',
      verticalAlign: 'top',
      x: 100,
      y: 70,
      floating: false,
      backgroundColor: '#FFFFFF',
      borderWidth: 1
    },
    plotOptions: {
      scatter: {
        marker: {
          radius: 5,
          states: {
            hover: {
              enabled: true,
              lineColor: 'rgb(100,100,100)'
            }
          }
        },
        states: {
          hover: {
            marker: {
              enabled: false
            }
          }
        },
        tooltip: {
          headerFormat: '<b>{series.name}</b><br>',
          pointFormat: '{point.x} m3, {point.y} m'
        }
      }
    },
    series: new_series
    //series: [{
    //  regression: true,
    //  regressionSettings: {
    //    type: 'polynomial',
    //   color: 'rgba(223, 183, 83, .9)',
    //    dashStyle: 'solid',
    //    hideinlegend: false
    //  },
    //  name: 'Rodete 214',
    //  color: 'rgba(223, 83, 83, .5)',
    //  data: new_data[1]
    //}]
  });

</script>
