<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @pump.nombre %>
</p>

<p>
  <strong>Rpm:</strong>
  <%= @pump.rpm %>
</p>

<p>
  <strong>Rodete max:</strong>
  <%= @pump.rodete_max %>
</p>

<p>
  <strong>Rodete min:</strong>
  <%= @pump.rodete_min %>
</p>

<% if @pump.tests.count > 0 %>
	<% @pump.tests.each do |test| %>
		<p>Diametro rodete: <%= test.diametro_rodete %></p>
	<% end %>
<% else %>
	<p>No hay pruebas para esta bomba</p>
<% end %>

<%= link_to 'Edit', edit_pump_path(@pump) %> |
<%= link_to 'Back', pumps_path %>
