<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="//rawgithub.com/phpepe/highcharts-regression/master/highcharts-regression.js?8"></script>

<% if current_user %>
  <% if current_user.admin or current_user.aceptado %>

    <p id="notice"><%= notice %></p>

    <div class="center jumbotron">

      <h1> Detalles bomba <%= @pump.bomba %> y pruebas de bombeo</h1>
      <nav>
        <ul>
            <p><strong>RPM: </strong><%= @pump.rpm %></p>
            <p><strong>Posibles HP: </strong><%= @pump.posibles_hp%></p>
            <p><strong>Posibles Kw: </strong><%= @pump.posibles_kw%></p>
            <p><strong>Posibles Motores (ID): </strong><%= @pump.posibles_motores%></p>
            <p><strong>Rodete Máximo: </strong><%= @pump.rodete_max %></p>
            <p><strong>Rodete Mínimo: </strong><%= @pump.rodete_min %></p>
            <p><strong>Succión: </strong><%= @pump.succion %></p>
            <p><strong>Descarga: </strong><%= @pump.descarga %></p>
            <p><strong>Anillo Delantero: </strong><%= @pump.anillo_delantero %></p>
            <p><strong>Anillo Trasero: </strong><%= @pump.anillo_trasero %></p>
            <p><strong>Bomba Delantero: </strong><%= @pump.bomba_delantero %></p>
            <p><strong>Bomba Trasero: </strong><%= @pump.bomba_trasero %></p>
            <p><strong>Caudal Minimo (2900rpm): </strong><%= @pump.caudal_minimo_2900 %></p>
            <p><strong>Caudal Minimo (1450rpm): </strong><%= @pump.caudal_minimo_1450 %></p>
            
        </ul>
      </nav>

      <div>
        <% if current_user %>
          <% if current_user.admin %>
            <%= link_to 'Editar detalles bomba', edit_pump_path(@pump), class: "btn btn-lg", id: "link" %>
          <% end %>
        <% end %>
        <strong><%= link_to 'Volver', pumps_path, class: "btn btn-lg", id: "link" %></strong>
      </div>
    </div>

    <% if @pump.valid_tests.length > 0 %>
      <div class="center jumbotron">
        <div id="container" style="width: 1000px; height: 500px; margin: 0 auto"></div>
      </div>
    <% end %>

    <% if @pump.valid_tests.length > 0 %>
      <div class="center jumbotron">
        <div id="container2" style="width: 1000px; height: 500px; margin: 0 auto"></div>
      </div>
    <% end %>


    <% datos = [] %>
    <% datos_e = [] %>
    <div class="center jumbotron">

      <h2> Pruebas de Bombeo </h2>
      <% if current_user %>
        <% if current_user.admin %>
          <%= link_to 'Ingresar nueva prueba de bombeo', new_pump_test_path(@pump), class: "btn btn-lg btn-primary", id:"link-b" %>
        <% else %>
          <p class="center">Sólo el administrador puede ingresar pruebas</p>
        <% end %>
      <% else %>
        <p class="center">Sólo el administrador puede ingresar pruebas</p>
      <% end %>
      <br>

      <% if @pump.tests.count > 0 %>
      	<% @pump.tests.each do |test| %>
          <br>
        
          <div>
            <strong> Nombre: <%= test.nombre %>, Numero pedido: <%=test.numero_pedido%>, diametro del rodete: <%= test.diametro_rodete %></strong>
        
            <% if @pump.valid_tests.include?(test.id.to_s) %>
              <% datos.push([Test.pasar_a_numero(test.current_h), test.diametro_rodete]) %>
              <% datos_e.push([Pump.eficiencia_100(Test.pasar_a_numero(test.current_e)), test.diametro_rodete]) %>
              <%= link_to 'Sacar de las pruebas válidas', pump_test_sacar_valida_path(pump_id: @pump.id, test_id: test.id), class: "btn btn-lg", id: "link" %>


            <% else %>
              <%= link_to 'Ingresar como prueba válida', pump_test_entrar_valida_path(pump_id: @pump.id, test_id: test.id), class: "btn btn-lg", id: "link" %>
            <% end %>

            <%= link_to "Eliminar", pump_test_path(pump_id: @pump.id, test_id: test.id), method: :delete, data: { confirm: '¿Estás seguro?' }, class: "btn btn-lg", id:"link"  %>
          </div>
      	<% end %>
      <% else %>
      	<p>No hay pruebas para esta bomba</p>
      <% end %>

      <br>

      
    </div>

    <div class="center jumbotron">
    <h2> Para dejar esta configuración como definitiva: </h2>
    <%= link_to "Configuración definitiva", pump_definitiva_path(pump_id: @pump.id), class: "btn btn-lg btn-primary", id:"link-b" %>
    </div>



    <script type="text/javascript">

     var new_series = []
     var new_data = <%= raw datos %>

     for (lista in new_data){
      var dicc = {
        regression: true,
        regressionSettings: {
          type: 'polynomial',
          //color: 'rgba(223, 183, 83, .9)',
          dashStyle: 'solid',
          hideinlegend: false
        },
        name: 'Rodete ' + new_data[lista][1],
        //color: 'rgba(223, 83, 83, .5)',
        data: new_data[lista][0]

      }
      new_series.push(dicc)
     }

     Highcharts.chart('container', {
        chart: {
          type: 'scatter',
          zoomType: 'xy'
        },
        title: {
          text: 'Curvas hidráulicas'
        },
        subtitle: {
          text: ''
        },
        xAxis: {
          min: 0,
          title: {
            enabled: true,
            text: 'Caudal (l/s)'
          },
          startOnTick: true,
          endOnTick: true,
          showLastLabel: true
        },
        yAxis: {
          min: 0,
          title: {
            text: 'Altura (m)'
          }
        },
        legend: {
          layout: 'vertical',
          align: 'left',
          verticalAlign: 'top',
          x: 100,
          y: 70,
          floating: false,
          backgroundColor: '#FFFFFF',
          borderWidth: 1
        },
        plotOptions: {
          scatter: {
            marker: {
              radius: 5,
              states: {
                hover: {
                  enabled: true,
                  lineColor: 'rgb(100,100,100)'
                }
              }
            },
            states: {
              hover: {
                marker: {
                  enabled: false
                }
              }
            },
            tooltip: {
              headerFormat: '<b>{series.name}</b><br>',
              pointFormat: '{point.x} l/s, {point.y} m'
            }
          }
        },
        series: new_series
      });

     var new_series_e = []
     var new_data_e = <%= raw datos_e %>

     for (lista in new_data_e){
      var dicc = {
        regression: true,
        regressionSettings: {
          type: 'polynomial',
          //color: 'rgba(223, 183, 83, .9)',
          dashStyle: 'solid',
          hideinlegend: false
        },
        name: 'Rodete ' + new_data_e[lista][1],
        //color: 'rgba(223, 83, 83, .5)',
        data: new_data_e[lista][0]

      }
      new_series_e.push(dicc)
     }

     Highcharts.chart('container2', {
        chart: {
          type: 'scatter',
          zoomType: 'xy'
        },
        title: {
          text: 'Curvas de eficiencia'
        },
        subtitle: {
          text: ''
        },
        xAxis: {
          min: 0,
          title: {
            enabled: true,
            text: 'Caudal (l/s)'
          },
          startOnTick: true,
          endOnTick: true,
          showLastLabel: true
        },
        yAxis: {
          min: 0,
          title: {
            text: 'Eficiencia'
          }
        },
        legend: {
          layout: 'vertical',
          align: 'left',
          verticalAlign: 'top',
          x: 100,
          y: 70,
          floating: false,
          backgroundColor: '#FFFFFF',
          borderWidth: 1
        },
        plotOptions: {
          scatter: {
            marker: {
              radius: 5,
              states: {
                hover: {
                  enabled: true,
                  lineColor: 'rgb(100,100,100)'
                }
              }
            },
            states: {
              hover: {
                marker: {
                  enabled: false
                }
              }
            },
            tooltip: {
              headerFormat: '<b>{series.name}</b><br>',
              pointFormat: '{point.x} l/s, {point.y} %'
            }
          }
        },
        series: new_series_e
      });

    </script>
  <% else %>
    <p>Debe enviar solicitud al administrador para participar.</p>
  <% end %>
<% else %>
  <p>Debe iniciar sesión para participar.</p>
<% end %>

