<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="//rawgithub.com/phpepe/highcharts-regression/master/highcharts-regression.js?8"></script>

<% if current_user %>
  <% if current_user.admin or current_user.aceptado %>

    <p id="notice"><%= notice %></p>

    <div class="center jumbotron">

      <h1> Detalles bomba <%= @pump.bomba %></h1>
      <br>
      <nav>
        <ul>
          <table class="table">
            <tbody>
              <tr>
                <td><strong>RPM: </strong></td>
                <td><%= @pump.rpm %></td>
              </tr>

              <tr>
                <td><strong>Posibles HP: </strong></td>
                <td><%= @pump.posibles_hp%></td>
              </tr>

              <tr>
                <td><strong>Posibles Kw: </strong></td>
                <td><%= @pump.posibles_kw%></td>
              </tr>

              <tr>
                <td><strong>Posibles Motores (ID): </strong></td>
                <td><%= @pump.posibles_motores%></td>
              </tr>

              <tr>
                <td><strong>Rodete Máximo: </strong></td>
                <td><%= @pump.rodete_max %></td>
              </tr>

              <tr>
                <td><strong>Rodete Mínimo: </strong></td>
                <td><%= @pump.rodete_min %></td>
              </tr>

              <tr>
                <td><strong>Succión: </strong></td>
                <td><%= @pump.succion %></td>
              </tr>

              <tr>
                <td><strong>Descarga: </strong></td>
                <td><%= @pump.descarga %></td>
              </tr>

              <tr>
                <td><strong>Anillo Delantero: </strong></td>
                <td><%= @pump.anillo_delantero %></td>
              </tr>

              <tr>
                <td><strong>Anillo Trasero: </strong></td>
                <td><%= @pump.anillo_trasero %></td>
              </tr>

              <tr>
                <td><strong>Bomba Delantero: </strong></td>
                <td><%= @pump.bomba_delantero %></td>
              </tr>

              <tr>
                <td><strong>Bomba Trasero: </strong></td>
                <td><%= @pump.bomba_trasero %></td>
              </tr>

              <tr>
                <td><strong>Caudal Minimo (2900rpm): </strong></td>
                <td><%= @pump.caudal_minimo_2900 %></td>
              </tr>

              <tr>
                <td><strong>Caudal Minimo (1450rpm): </strong></td>
                <td><%= @pump.caudal_minimo_1450 %></td>
              </tr>

            </tbody>
          </table>

            
        </ul>
      </nav>
      <br>

      <div>
        <% if current_user.admin %>
          <%= link_to 'Editar detalles bomba', edit_pump_path(@pump), class: "btn btn-lg", id: "link" %>
        <% end %>
        <strong><%= link_to 'Volver', pumps_path, class: "btn btn-lg", id: "link" %></strong>
      </div>
    </div>

    <% if @pump.valid_tests.length > 0 %>
      <div class="center jumbotron">
        <div id="container" style="width: 1000px; height: 500px; margin: 0 auto"></div>
      </div>
    <% end %>

    <% if @pump.valid_tests.length > 0 %>
      <div class="center jumbotron">
        <div id="container2" style="width: 1000px; height: 500px; margin: 0 auto"></div>
      </div>
    <% end %>


    <% datos = [] %>
    <% datos_e = [] %>
    <div class="center jumbotron">

      <h1> Pruebas de Bombeo </h1>
      <% if current_user.admin %>
        <%= link_to 'Ingresar nueva prueba de bombeo', new_pump_test_path(@pump), class: "btn btn-lg btn-primary", id:"link-b" %>
      <% else %>
        <p class="center">Sólo el administrador puede ingresar/modificar pruebas</p>
      <% end %>
      <br>

      <% if @pump.tests.count > 0 %>
      	<% @pump.tests.each do |test| %>
          <br>
        
          <div>
            <% if current_user.admin %>
              <strong> Nombre: <%= test.nombre %>, Numero pedido: <%=test.numero_pedido%>, diametro del rodete: <%= test.diametro_rodete %></strong>
            <% end %>
        
            <% if @pump.valid_tests.include?(test.id.to_s) %>
              <% datos.push([Test.pasar_a_numero(test.current_h), test.diametro_rodete]) %>
              <% datos_e.push([Pump.eficiencia_100(Test.pasar_a_numero(test.current_e)), test.diametro_rodete]) %>

              <% if current_user.admin %>
                <%= link_to 'Sacar de las pruebas válidas', pump_test_sacar_valida_path(pump_id: @pump.id, test_id: test.id), class: "btn btn-lg", id: "link" %>
              <% end %>


            <% else %>
              <% if current_user.admin %>
                <%= link_to 'Ingresar como prueba válida', pump_test_entrar_valida_path(pump_id: @pump.id, test_id: test.id), class: "btn btn-lg", id: "link" %>
              <% end %>
            <% end %>

            <% if current_user.admin %>
              <%= link_to "Eliminar", pump_test_path(pump_id: @pump.id, test_id: test.id), method: :delete, data: { confirm: '¿Estás seguro?' }, class: "btn btn-lg", id:"link"  %>
            <% end %>
          </div>
      	<% end %>
      <% else %>
      	<p>No hay pruebas para esta bomba</p>
      <% end %>

      <br>

      
    </div>

    <div class="center jumbotron">
      <h2>Informacion del programa</h2>

      <% if @pump.curva_rodete_max.length > 0 and @pump.efficiency_info.length > 0 %>
        <table class="table">
          <thead>
            <th><center>Curva</center></th>
            <th><center>c</center></th>
            <th><center>b</center></th>
            <th><center>a</center></th>
          </thead>
          <tbody>
            <tr>
              <td><center><strong>Curva rodete maximo</strong></center></td>
              <td><center><%= @pump.curva_rodete_max[0][0] %></center></td>
              <td><center><%= @pump.curva_rodete_max[0][1] %></center></td>
              <td><center><%= @pump.curva_rodete_max[0][2] %></center></td>
            </tr>

            <tr>
              <td><center><strong>Curva rodete minimo</strong></center></td>
              <td><center><%= @pump.curva_rodete_min[0][0] %></center></td>
              <td><center><%= @pump.curva_rodete_max[0][1] %></center></td>
              <td><center><%= @pump.curva_rodete_max[0][2] %></center></td>
            </tr>

          </tbody>
        </table>

        <table>
          <tbody>
            <% if @pump.efficiency_info[0].length > 3 %>
              <% contador = 0 %>
              <% @pump.efficiency_info.each do |curva| %>
                <tr>
                  <td><center><strong>Curva eficiencia rodete <%= @pump.efficiency_info_diams[contador] %></strong></center></td>
                  <td><center><%= curva[0] %></center></td>
                  <td><center><%= curva[1] %></center></td>
                  <td><center><%= curva[2] %></center></td>
                  <td><center><%= curva[3] %></center></td>
                  <td><center><%= curva[4] %></center></td>
                </tr>
                <% contador += 1 %>
              <% end %>
            <% end %>

          </tbody>
        </table>

        <br>
        <br>
        <br>
        <h4><strong>Estas son las curvas hidraulicas que el programa guarda como curva a rodete maximo y minimo</strong></h4>
        <br>
        <h5> <strong>Puntos curva maxima:</strong> <%= Test.pasar_a_numero(@pump.points_max[0]) %></h5>
        <h5> <strong>Puntos curva minima:</strong> <%= Test.pasar_a_numero(@pump.points_min[0]) %></h5>

        <% else %>
          <h3>No hay informacion que mostrar</h3>
        <% end %>
    </div>

    <div class="center jumbotron">
      <h2> Para dejar esta configuración como definitiva: </h2>
      <% if current_user.admin %>
        <% if @pump.valid_tests.length >= 2 %>
        <%= link_to "Configuración definitiva", pump_definitiva_path(pump_id: @pump.id), class: "btn btn-lg btn-primary", id:"link-b" %>
        <% else %>
          <p> Debes tener al menos 2 pruebas válidas para dejar la configuración definitiva.</p>
        <%end%>
      <% else %>
        <p> Sólo el administrador puede establecer configuraciones definitivas</p>
      <% end %>
    </div>



    <script type="text/javascript">

     var new_series = []
     var new_data = <%= raw datos %>
     var colores = ['#058DC7', '#50B432', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4', '#ED561B', '#058DC7', '#50B432', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4', '#ED561B']

     for (lista in new_data){
      var dicc = {
        regression: true,
        regressionSettings: {
          type: 'polynomial',
          color: colores[lista],
          dashStyle: 'solid',
          hideinlegend: false
        },
        name: 'Rodete ' + new_data[lista][1],
        color: colores[lista],
        data: new_data[lista][0]

      }
      new_series.push(dicc)
     }

     Highcharts.chart('container', {
        chart: {
          type: 'scatter',
          zoomType: 'xy'
        },
        title: {
          text: 'Curvas hidráulicas'
        },
        subtitle: {
          text: ''
        },
        xAxis: {
          min: 0,
          title: {
            enabled: true,
            text: 'Caudal (l/s)'
          },
          startOnTick: true,
          endOnTick: true,
          showLastLabel: true
        },
        yAxis: {
          min: 0,
          title: {
            text: 'Altura (m)'
          }
        },
        legend: {
          layout: 'vertical',
          align: 'left',
          verticalAlign: 'top',
          x: 100,
          y: 70,
          floating: false,
          backgroundColor: '#FFFFFF',
          borderWidth: 1
        },
        plotOptions: {
          scatter: {
            marker: {
              radius: 5,
              states: {
                hover: {
                  enabled: true,
                  lineColor: 'rgb(100,100,100)'
                }
              }
            },
            states: {
              hover: {
                marker: {
                  enabled: false
                }
              }
            },
            tooltip: {
              headerFormat: '<b>{series.name}</b><br>',
              pointFormat: '{point.x} l/s, {point.y} m'
            }
          }
        },
        series: new_series
      });

     var new_series_e = []
     var new_data_e = <%= raw datos_e %>

     for (lista in new_data_e){
      var dicc = {
        regression: true,
        regressionSettings: {
          type: 'polynomial',
          order: 4,
          color: colores[lista],
          dashStyle: 'solid',
          hideinlegend: false
        },
        name: 'Rodete ' + new_data_e[lista][1],
        color: colores[lista],
        data: new_data_e[lista][0]

      }
      new_series_e.push(dicc)
     }

     Highcharts.chart('container2', {
        chart: {
          type: 'scatter',
          zoomType: 'xy'
        },
        title: {
          text: 'Curvas de eficiencia'
        },
        subtitle: {
          text: ''
        },
        xAxis: {
          min: 0,
          title: {
            enabled: true,
            text: 'Caudal (l/s)'
          },
          startOnTick: true,
          endOnTick: true,
          showLastLabel: true
        },
        yAxis: {
          min: 0,
          title: {
            text: 'Eficiencia'
          }
        },
        legend: {
          layout: 'vertical',
          align: 'left',
          verticalAlign: 'top',
          x: 100,
          y: 70,
          floating: false,
          backgroundColor: '#FFFFFF',
          borderWidth: 1
        },
        plotOptions: {
          scatter: {
            marker: {
              radius: 5,
              states: {
                hover: {
                  enabled: true,
                  lineColor: 'rgb(100,100,100)'
                }
              }
            },
            states: {
              hover: {
                marker: {
                  enabled: false
                }
              }
            },
            tooltip: {
              headerFormat: '<b>{series.name}</b><br>',
              pointFormat: '{point.x} l/s, {point.y} %'
            }
          }
        },
        series: new_series_e
      });

    </script>
  <% else %>
    <p>Debe enviar solicitud al administrador para participar.</p>
  <% end %>
<% else %>
  <p>Debe iniciar sesión para participar.</p>
<% end %>

