<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="//rawgithub.com/phpepe/highcharts-regression/master/highcharts-regression.js?8"></script>

<p id="notice"><%= notice %></p>


<h1> Detalles bomba y pruebas de bombeo</h1>
<p>
  <strong>Nombre:</strong>
  <%= @pump.nombre %>
</p>

<p>
  <strong>Rpm:</strong>
  <%= @pump.rpm %>
</p>

<p>
  <strong>Rodete max:</strong>
  <%= @pump.rodete_max %>
</p>

<p>
  <strong>Rodete min:</strong>
  <%= @pump.rodete_min %>
</p>



<div id="container" style="width: 1000px; height: 500px; margin: 0 auto"></div>


<div>
  <%= link_to 'Editar detalles bomba', edit_pump_path(@pump) %> |
  <strong><%= link_to 'Volver', pumps_path %></strong>
</div>

<% datos = [] %>
<h2> Pruebas de Bombeo ingresadas </h2>
<% if @pump.tests.count > 0 %>
	<% @pump.tests.each do |test| %>
    <div>
      <p> Prueba de bombeo numero: <%=test.id%></p>
  		<strong><p>Diametro rodete: <%= test.diametro_rodete %></p></strong>
      <p> Curva hidraulica: <%= test.current_h.length %> puntos</p>
      <% datos.push(Test.pasar_a_numero(test.current_h)) %>

    </div>
	<% end %>
<% else %>
	<p>No hay pruebas para esta bomba</p>
<% end %>




<script type="text/javascript">

 var new_series = []
 var new_data = <%= raw datos %>

 for (lista in new_data){
  var dicc = {
    regression: true,
    regressionSettings: {
      type: 'polynomial',
      //color: 'rgba(223, 183, 83, .9)',
      dashStyle: 'solid',
      hideinlegend: false
    },
    name: 'Rodete 500',
    //color: 'rgba(223, 83, 83, .5)',
    data: new_data[lista]
  }
  new_series.push(dicc)
 }

 document.write(new_series[1]["data"])


 Highcharts.chart('container', {
    chart: {
      type: 'scatter',
      zoomType: 'xy'
    },
    title: {
      text: 'Curvas hidraulicas'
    },
    subtitle: {
      text: ''
    },
    xAxis: {
      title: {
        enabled: true,
        text: 'Caudal (m3)'
      },
      startOnTick: true,
      endOnTick: true,
      showLastLabel: true
    },
    yAxis: {
      title: {
        text: 'Altura (m)'
      }
    },
    legend: {
      layout: 'vertical',
      align: 'left',
      verticalAlign: 'top',
      x: 100,
      y: 70,
      floating: false,
      backgroundColor: '#FFFFFF',
      borderWidth: 1
    },
    plotOptions: {
      scatter: {
        marker: {
          radius: 5,
          states: {
            hover: {
              enabled: true,
              lineColor: 'rgb(100,100,100)'
            }
          }
        },
        states: {
          hover: {
            marker: {
              enabled: false
            }
          }
        },
        tooltip: {
          headerFormat: '<b>{series.name}</b><br>',
          pointFormat: '{point.x} m3, {point.y} m'
        }
      }
    },
    series: new_series
    //series: [{
    //  regression: true,
    //  regressionSettings: {
    //    type: 'polynomial',
    //   color: 'rgba(223, 183, 83, .9)',
    //    dashStyle: 'solid',
    //    hideinlegend: false
    //  },
    //  name: 'Rodete 214',
    //  color: 'rgba(223, 83, 83, .5)',
    //  data: new_data[1]
    //}]
  });

</script>
