<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="//rawgithub.com/phpepe/highcharts-regression/master/highcharts-regression.js?8"></script>

<!DOCTYPE html>
<html>
  <head>
    <title>Wellford</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag "chartkick" %>
    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
    <%= javascript_include_tag "http://code.highcharts.com/highcharts.js", "chartkick" %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <nav>
        <div class="navbar-left">
          <%= link_to "Inicio", root_url, class: 'btn btn-lg', id: "logo" %>
        </div>
        <div class="navbar-right">
          <% if user_signed_in? %>
            <% if current_user.admin %>
              <%= link_to 'Importar', user_path(current_user), class: 'navbar-link btn btn-lg' %>
              <%= link_to 'Acciones', acciones_path, class: 'navbar-link btn btn-lg' %>
            <% end %>
            <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: 'navbar-link btn btn-lg' %>
          <% else %>
            <%= link_to "Iniciar Sesión", new_user_session_path, class: 'navbar-link btn btn-lg' %><%= link_to "Registrarte", new_user_registration_path, class: 'navbar-link btn btn-lg' %>
          <% end %>
        </div>
      </nav>
    </header>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="text-primary"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
