<!DOCTYPE html>
<html>
  <head>
    <title>Example</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "chartkick" %>
    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
    <%= javascript_include_tag "http://code.highcharts.com/highcharts.js", "chartkick" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
